<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/error.css" />
    <title>Error 403</title>
  </head>
  <body>
    <header class="head">
      <nav class="navbar">
        <ul>
          <li><a href="http://localhost:5000/">BlogBlend</a></li>
          <li><a href="http://localhost:5000/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <img src="../static/images/403.png" alt="" />
      <section class="error-section">
        <h1>403</h1>
        <h2>Forbidden</h2>
        <p>You don't have permission to access this resource.</p>
      </section>
    </main>
  </body>
</html>
