<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/article.css" />
    <link rel="stylesheet" href="../static/styles/articles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/articles/articles.js"></script>
    <title>BlogBlend - Articles</title>
  </head>
  <body>
    <header class="header">
      <a href="http://localhost:5000" class="logo">BlogBlend</a>
      <nav class="navbar">
        <ul>
          <li>
            <a href="http://localhost:5000">Home</a>
          </li>
          {% if current_user.is_authenticated %}
          <li>
            <a href="http://localhost:5000/profile">Profile</a>
          </li>
          <li>
            <a href="http://localhost:5000/logout">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="http://localhost:5000/login">Login</a>
          </li>
          <li>
            <a href="http://localhost:5000/register">Register</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="container">
      <section class="posts-section">
        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>

        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>

        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>
        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>

        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>

        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>

        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>

        <article class="post">
          <img
            class="article_img"
            src="../static/images/post_sample.jpg"
            alt="post image"
          />
          <div class="post-details">
            <div class="user">
              <img
                src="../static/images/channels4_profile.jpg"
                alt="User profile"
              />
              <h3 class="user-name">Writer name</h3>
            </div>
            <div class="article_data">
              <a href="#">
                <div class="title">
                  <h2>article title</h2>
                  <p>Written in 7, Oct 2023</p>
                </div>
                <p class="content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur? Lorem ipsum dolor, sit
                  amet consectetur adipisicing elit. Voluptates, nulla nostrum
                  nisi debitis voluptatibus facere aspernatur? Lorem ipsum
                  dolor, sit amet consectetur adipisicing elit. Voluptates,
                  nulla nostrum nisi debitis voluptatibus facere aspernatur?
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptates, nulla nostrum nisi debitis voluptatibus facere
                  aspernatur? Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Voluptates, nulla nostrum nisi debitis
                  voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                  consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                  debitis voluptatibus facere aspernatur?
                </p>
              </a>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <p>BlogBlend - 2024</p>
    </footer>
  </body>
</html>
