<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="../static/styles/body.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/articles/header.css">
    <link rel="stylesheet" href="../static/styles/articles/container.css">
    <link rel="stylesheet" href="../static/styles/articles/articles_box.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/articles/articles.js"></script>
    <title>BlogBlend - Articles</title>
</head>
<body>
    <header>
        <a href="#" class="logo"><strong>BlogBlend</strong></a>
        <nav class="navbar">
            <ul>
                <li><a href="#"><strong>Home</strong></a></li>
                <li><a href="#"><strong>Login</strong></a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <article class="post">
            <div class="article_img">
                <a href="#"></a>
            </div>
            <div class="article_data">
                <a href="#" class="article_header">Programming trends in the software paradigm</a>
            </div>
        </article>
        <article>
            <div class="article_img">
                <a href="#"></a>
            </div>
            <div class="article_data">
                <a href="#" class="article_header">Programming trends in the software paradigm</a>
            </div>
        </article>
        <article>
            <div class="article_img">
                <a href="#"></a>
            </div>
            <div class="article_data">
                <a href="#" class="article_header">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis obcaecati mollitia</a>            </div>
        </article>
        <article>
            <div class="article_img">
                <a href="#"></a>
            </div>
            <div class="article_data">
                <a href="#" class="article_header">Programming trends</a>
            </div>
        </article>
        <article>
            <div class="article_img">
                <a href="#"></a>
            </div>
            <div class="article_data">
                <a href="#" class="article_header">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis obcaecati mollitia</a>
            </div>
        </article>
        <article>
            <div class="article_img">
                <a href="#"></a>
            </div>
            <div class="article_data">
                <a href="#" class="article_header">Programming trends in the software paradigm</a>
            </div>
        </article>
    </div>
    <footer>
        <p><strong>BlogBlend - 2024</strong></p>
    </footer>
</body>
</html>
