<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/article.css" />
    <link rel="stylesheet" href="../static/styles/pagination.css" />
    <link rel="stylesheet" href="../static/styles/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/home.js"></script>
    <title>BlogBlend - Home</title>
  </head>
  <body>
    <header class="head">
      <nav class="navbar">
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="http://localhost:5000/articles">Articles</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="http://localhost:5000/profile">Profile</a></li>
          <li><a href="http://localhost:5000/logout">Logout</a></li>
          {% else %}
          <li><a href="http://localhost:5000/login">Login</a></li>
          <li><a href="http://localhost:5000/register">Register</a></li>
          {% endif %}
        </ul>
      </nav>

      <section class="brand">
        <div class="logo-one">
          <div class="logo-one-text">
            <h1>BlogBlend</h1>
            <h2>Empowering Connections through Shared Stories</h2>
          </div>
        </div>
        <div class="logo-two">
          <h2>
            Welcome to hundreds of the best articles on self-improvement,
            productivity, relationships, and many others ...
          </h2>
        </div>
      </section>
    </header>

    <main>
      <section class="posts-section">
        <!-- Fetching data in home.js -->
        {% for post in posts.items %}
        <article class="post">
          <div class="article-img">
            <img
              src="{{ url_for('static', filename='images/' + post.cover) }}"
              alt="post image"
            />
          </div>
          <div class="post-details">
            <div class="user">
              <div>
                <img
                  src="{{ url_for('static', filename='images/' + post.user.avatar) }}"
                  alt="User profile"
                />
              </div>
              <h3 class="user-name">{{ post.user.username }}</h3>
            </div>
            <div class="article_data">
              <a href="http://localhost:5000/posts/{{ post.id }}">
                <div class="title">
                  <h2>{{ post.title }}</h2>
                  <p>
                    Written on {{ post.created_at.strftime('%Y - %m - %d') }}
                  </p>
                </div>
                <p class="content">{{ post.content[:200] }}</p>
              </a>
            </div>
          </div>
        </article>
        {% endfor %}

        <section class="pagination">
          {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,
          left_current=1, right_current=1) %} {% if page_num %}
          <div>
            <a href="{{ url_for('main_bp.home', page=page_num) }}"
              >{{ page_num }}</a
            >
          </div>
          {% else %}
          <div class="dots">...</div>
          {% endif %} {% endfor %}
        </section>
      </section>

      <section class="filters">
        <section class="filters-section">
          <h4>Filter more what matters you</h4>
          <section class="tags">
            <div><a href="#">Programming</a></div>
            <div><a href="#">Data Science</a></div>
            <div><a href="#">Technology</a></div>
            <div><a href="#">Self Improvement</a></div>
            <div><a href="#">Writing</a></div>
            <div><a href="#">Relationships</a></div>
            <div><a href="#">Productivity</a></div>
            <div><a href="#">Politics</a></div>
            <div><a href="#">Machine Learning</a></div>
          </section>
        </section>
        <section class="filters-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="http://localhost:5000/articles">Articles</a></li>
            <li><a href="http://localhost:5000/login">Login</a></li>
            <li><a href="http://localhost:5000/register">Register</a></li>
          </ul>
        </section>
      </section>
    </main>

    <footer>
      <p>BlogBlend - 2024</p>
    </footer>
  </body>
</html>
