<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/header.js"></script>
    <script src="../static/scripts/home_posts.js"></script>
    <title>BlogBlend - Home</title>
  </head>
  <body>
    <header class="head">
      <nav class="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="http://localhost:5000/articles">Articles</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="http://localhost:5000/profile">Profile</a></li>
          <li><a href="http://localhost:5000/logout">Logout</a></li>
          {% else %}
          <li><a href="http://localhost:5000/login">Login</a></li>
          <li><a href="http://localhost:5000/register">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      <section class="brand">
        <div class="logo-one">
          <div class="logo-one-text">
            <h1>BlogBlend</h1>
            <h2>Empowering Connections through Shared Stories</h2>
          </div>
        </div>
        <div class="logo-two">
          <h2>
            Welcome to hundreds of the best articles on self-improvement,
            productivity, relationships, and many others ...
          </h2>
        </div>
      </section>

      <section class="container">
        <section class="posts-section">
          <article class="post">
            <img
              class="article_img"
              src="../static/images/post_sample.jpg"
              alt="post image"
            />
            <div class="post-details">
              <div class="user">
                <img
                  src="../static/images/channels4_profile.jpg"
                  alt="User profile"
                />
                <h3 class="user-name">Writer name</h3>
              </div>
              <div class="article_data">
                <a href="#">
                  <div class="title">
                    <h2>article title</h2>
                    <p>Written in 7, Oct 2023</p>
                  </div>
                  <p class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur? Lorem
                    ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur?
                  </p>
                </a>
              </div>
            </div>
          </article>

          <article class="post">
            <img
              class="article_img"
              src="../static/images/post_sample.jpg"
              alt="post image"
            />
            <div class="post-details">
              <div class="user">
                <img
                  src="../static/images/channels4_profile.jpg"
                  alt="User profile"
                />
                <h3 class="user-name">Writer name</h3>
              </div>
              <div class="article_data">
                <a href="#">
                  <div class="title">
                    <h2>article title</h2>
                    <p>Written in 7, Oct 2023</p>
                  </div>
                  <p class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur? Lorem
                    ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur?
                  </p>
                </a>
              </div>
            </div>
          </article>

          <article class="post">
            <img
              class="article_img"
              src="../static/images/post_sample.jpg"
              alt="post image"
            />
            <div class="post-details">
              <div class="user">
                <img
                  src="../static/images/channels4_profile.jpg"
                  alt="User profile"
                />
                <h3 class="user-name">Writer name</h3>
              </div>
              <div class="article_data">
                <a href="#">
                  <div class="title">
                    <h2>article title</h2>
                    <p>Written in 7, Oct 2023</p>
                  </div>
                  <p class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur? Lorem
                    ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur?
                  </p>
                </a>
              </div>
            </div>
          </article>

          <article class="post">
            <img
              class="article_img"
              src="../static/images/post_sample.jpg"
              alt="post image"
            />
            <div class="post-details">
              <div class="user">
                <img
                  src="../static/images/channels4_profile.jpg"
                  alt="User profile"
                />
                <h3 class="user-name">Writer name</h3>
              </div>
              <div class="article_data">
                <a href="#">
                  <div class="title">
                    <h2>article title</h2>
                    <p>Written in 7, Oct 2023</p>
                  </div>
                  <p class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur? Lorem
                    ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates, nulla nostrum nisi debitis voluptatibus facere
                    aspernatur? Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Voluptates, nulla nostrum nisi debitis
                    voluptatibus facere aspernatur? Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptates, nulla nostrum nisi
                    debitis voluptatibus facere aspernatur? Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Voluptates, nulla
                    nostrum nisi debitis voluptatibus facere aspernatur?
                  </p>
                </a>
              </div>
            </div>
          </article>
        </section>
        <section class="filters-section">
          <h4>Filter more what matters you</h4>
          <section class="tags">
            <a href="#">Programming</a>
            <a href="#">Data Science</a>
            <a href="#">Technology</a>
            <a href="#">Self Improvement</a>
            <a href="#">Writing</a>
            <a href="#">Relationships</a>
            <a href="#">Machine Learning</a>
            <a href="#">Productivity</a>
            <a href="#">Politics</a>
          </section>
          <section class="filters-links">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="http://localhost:5000/articles">Articles</a></li>
              <li><a href="http://localhost:5000/login">Login</a></li>
              <li><a href="http://localhost:5000/register">Register</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </section>
        </section>
      </section>
    </main>

    <footer>
      <p>BlogBlend - 2024</p>
    </footer>
  </body>
</html>
