<!DOCTYPE html>

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/body.css">
    <link rel="stylesheet" href="../static/styles/article.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/header.js"></script>
    <script src="../static/scripts/home_posts.js"></script>
    <title>BlogBlend - Home</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#"><strong>Home</strong></a></li>
                <li><a href="http://localhost:5000/articles"><strong>Articles</strong></a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="http://localhost:5000/profile"><strong>Profile</strong></a></li>
                    <li><a href="http://localhost:5000/logout"><strong>Logout</strong></a></li>
                {% else %}
                    <li><a href="http://localhost:5000/login"><strong>Login</strong></a></li>
                    <li><a href="http://localhost:5000/register"><strong>Register</strong></a></li>
                {% endif %}
            </ul>
        </nav>
    <h1><strong>BlogBlend</strong></h1>
    <h2><strong>Empowering Connections through Shared Stories</strong></h2>
    </header>
    <div class="container">
        <div class="latest_posts">
        </div>
    </div>
    <footer>
        <p><strong>BlogBlend - 2024</strong></p>
    </footer>
</body>
</html>
