<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/article.css" />
    <link rel="stylesheet" href="../static/styles/profile.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      let currentUser = '{{ current_user.id }}';
    </script>
    <script src="../static/scripts/profile.js"></script>
    <title>BlogBlend - Profile</title>
  </head>
  <body>
    <header class="header">
      <a href="http://localhost:5000/" class="logo">BlogBlend</a>
      <nav class="navbar">
        <ul>
          <li><a href="http://localhost:5000">Home</a></li>
          <li><a href="http://localhost:5000/articles">Articles</a></li>
          <li><a href="http://localhost:5000/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <section class="profile">
        <div class="img">
          <img
            src="{{url_for('static', filename='images/'+current_user.avatar)}}"
            alt="profile image"
            class="profile-image"
          />
        </div>
        <h1 class="name">this is my name</h1>
        <p class="bio">Hi there this is my bio.</p>
        <form action="http://localhost:5000/account" class="edit-form">
          <button class="edit-button">Edit Profile</button>
        </form>
      </section>

      <section class="posts-section">
        <!-- Fetching articles from js -->
      </section>
    </main>

    <form action="http://localhost:5000/posts/create" class="new-form">
      <button class="new-button">New Post</button>
    </form>
  </body>
</html>
