<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/profile/body.css">
    <link rel="stylesheet" href="../static/styles/profile/left_side.css">
    <link rel="stylesheet" href="../static/styles/profile/right_side.css">
    <link rel="stylesheet" href="../static/styles/profile/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script> let currentUser = '{{ current_user.id }}'; </script>
    <script src="../static/scripts/profile/profile.js"></script>
    <title>BlogBlend - Profile</title>
</head>
<body>
    <header>
        <a href="http://localhost:5000/" class="logo"><strong>BlogBlend</strong></a>
        <nav class="navbar">
            <ul>
                <li><a href="http://localhost:5000"><strong>Home</strong></a></li>
                <li><a href="http://localhost:5000/articles"><strong>Articles</strong></a></li>
                <li><a href="http://localhost:5000/logout"><strong>Logout</strong></a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="left_side">
            <div class="profile_image">
                <div class="image"></div>
            </div>
            <div class="file_upload"><label for="profile-pic">Change Picture</label>
                <input type="file" id="profile-pic" name="profile-pic">
            </div>
            <div class="profile_name">
                <h1></h1>
            </div>
            <div class="bio"></div>
        </div>
        <div class="right_side">
            <a href="http://localhost:5000/post/create" class="new-post">New Post</a>
        </div>
    </div>
    </form>
</body>
</html>
