.container {
    align-items: center;
    margin-top: 50px;
    padding: 0;
    width: 60vw;
    height: 100%;
    margin-left: 10%;
}

.container  h1 {
    font-family: kanit, sans-serif;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

form input[type="text"] {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
    font-size: 15px;
    font-family: kanit, sans-serif;
    font-weight: 300;
    width: 60vw;
}

#post-text {
    height: 60vh;
}

div label {
    font-family: kanit, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 8px;
}

.post-button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-family: kanit, sans-serif;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    margin-left: 58.5vw;
}
  
