.posts-section {
  width: 50%;
}
.post {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  padding: 10px;
}

.article_img {
  width: 300px;
  height: 80%;
  align-self: center;
  margin-right: 50px;
  border-radius: 10px;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 50px;
  border-radius: 50%;
  padding-right: 10px;
}

.user .user-name {
  padding-left: 10px;
}

.article_data {
  height: auto;
  width: 100%;
}

.title {
  padding: 10px 0px 0px 0px;
}

.title h2 {
  padding-right: 10px;
}

.title p {
  padding: 10px 0px;
  color: grey;
}

.content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  position: relative;
}

.content::after {
  content: '..Read more';
  position: absolute;
  bottom: 0;
  right: 7px;
  background-color: white;
  padding: 1px 2px;
  border-radius: 5px;
  border-bottom: 1px solid var(--first-background-color);
}
