body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--first-background-color);
  margin-bottom: 40px;
}

.header a {
  font-size: x-large;
}

.header ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: x-large;
}

.header ul li:hover,
.header a:hover {
  color: var(--hover-text-color);
}

footer {
  background-color: var(--first-background-color);
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: auto;
}

/* 000000000000000000 */

/* 

a.logo {
  text-decoration: none;
  font-family: dancing script, cursive;
  font-size: 150%;
  color: white;
  margin-top: 1.7%;
  margin-left: 10%;
}

header nav {
  margin-top: 1.1%;
  margin-left: 60%;
}

header nav ul {
  font-family: 'kanit', sans-serif;
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-right: 15px;
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    transition: 0.3s ease;
  }
}

header nav ul li a:hover {
  color: rgb(255, 192, 192);
}

.post_head {
  margin-top: 30px;
  display: flex;
  padding: 0;
  margin-top: 7%;
}

.post_image {
  width: 40%;
  height: 40vh;
  margin-left: 15%;
  border-radius: 5px;
  background-image: url('../../images/post_sample.jpg');
  background-size: cover;
  text-align: center;
}

.post_title {
  font-family: kanit, sans-serif;
  width: 40%;
  border-radius: 5px;
  padding-left: 50px;
}

.post_title h1 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}
.post_tag {
  margin: 0;
  color: grey;
  font-weight: 300;
}

.post_date {
  margin: 0;
  color: grey;
  font-weight: 300;
}

.post_author {
  margin: 0;
  color: grey;
  font-weight: 400;
}

.post_text {
  margin-top: 50px;
  color: 83898F;
  font-weight: 400;
  margin-left: 15%;
  width: 60%;
  font-family: poppins, sans-serif;
  font-size: 18px;
}

.like {
  background-image: url('../../images/like.png');
  background-size: cover;
  color: black;
  cursor: pointer;
  margin-top: 95px;
  border: none;
  height: 25px;
  width: 25px;
}

.liked {
  background-image: url('../../images/like-colored.png');
  background-size: cover;
  color: black;
  cursor: pointer;
  margin-top: 95px;
  border: none;
  height: 25px;
  width: 25px;
} */
