.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--first-background-color);
  margin-bottom: 40px;
}

.header a {
  font-size: x-large;
}

.header ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: x-large;
}

.header ul li:hover,
.header a:hover {
  color: var(--hover-text-color);
}

.container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile img {
  margin: 15px 0px 10px 0px;
  width: 300px;
  border-radius: 50%;
}
.profile h1 {
  margin: 10px 0px 5px 0px;
  font-size: xx-large;
}
.profile p {
  margin-bottom: 10px;
  font-size: large;
}

.edit-form,
.new-form {
  margin-top: 15px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.edit-form .edit-button {
  background-color: var(--first-background-color);
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.new-form .new-button {
  background-color: seagreen;
  color: var(--hover-text-color);
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: none;
}

.post .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
}

.post .buttons .delete-btn,
.post .buttons .update-btn {
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.post .buttons .update-btn {
  background-color: seagreen;
  color: var(--hover-text-color);
  border: none;
}
