/* #logo {
    font-family: dancing script, sans-serif;
    font-size: 50px;
    font-weight: 800;
} */

form {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    display: block;
    width: 37vw;
    text-align: center;
    margin-top: 20vh;
}

form input[type="text"], form input[type="password"], form input[type="email"]{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
    font-size: 15px;
    font-family: kanit, sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300;
}

input[type="submit"] {
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8a64f1;
    width: 53%;
    font-family: kanit, sans-serif;
    font-weight: 600;
    background-color: #8a64f1;
    color: white;
}

input[type="submit"]:hover {
    background-color: #6b4abf;
}

input[type="submit"]:active {
    background-color: #4a2f8f;
}

.file_upload {
    margin-top: 10px;
    padding: 10px;
    /* margin-left: 30px; */
}

.file_upload label {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8a64f1;
    width: 50%;
    font-family: kanit, sans-serif;
    font-weight: 600;
    background-color: #8a64f1;
    color: white;
    cursor: pointer;
}

input#profile-pic {
    display: none;
}
