article.row{
    font-family: poppins, sans-serif;
    display: flex;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

article div.post_img:hover, article div.post_data a:hover {
    opacity: 0.8;
}

article div.post_img {
    transition: opacity 0.3s ease;
    height: 100%;
    width: 40%;
    margin-left: 15%;
}

#art1 .post_img a {
    background-image: url('../images/post_sample.jpg');
    background-size: cover;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
}

#art2 .post_img a {
    background-image: url('../images/post_sample2.jpg');
    background-size: cover;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
}

article div.post_data {
    transition: opacity 0.3s ease;
    height: 400px;
    width: 25%;
    margin-right: 10%;
    margin-left: 20px;
    padding-top: 10px;
}

article .tag {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    opacity: 50%;
    margin-bottom: 15px;
}

article div.post_data a {
    transition: opacity 0.3s ease;
    text-align: left;
    text-decoration: none;
    font-size: 35px;
    color: #333;
    width: auto;
}

article div.post_data p.date {
    /* margin-top: 220px; */
    margin-bottom: 2px;
    color: #333;
    font-size: 12px;   
}

article div.post_data p.owner {
    color: #333;
    font-size: 15px;
    margin-top: 0;
}
