header{
    padding: 20px 0;
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    margin: 0;
    margin-bottom: 100px;
    height: 100vh;
}

header nav {
    font-family: poppins, sans-serif;
    font-size: 25px;
    margin-left: 70%;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-right: 15px;
    text-decoration: none;

    a {
        text-decoration: none;
        color: white;
        margin-right: 10px;
        font-size: 16px;
        transition: 0.3s ease;
    }
}

header nav ul li a:hover {
    color: rgb(255, 192, 192);
}

header h1 {
    font-family: dancing script, cursive;
    font-size: 700%;
    color: rgb(255, 255, 255);
    margin-left: 60%;
}

header h2 {
    font-family: dancing script, cursive;
    font-size: 180%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -5%;
    margin-left: 53%;
}

.scrolled {
  display: flex;
  color: black;
  margin-right: 30%;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin-left: 0;
  height: 70px;
  background-color: #F5F5F5;
}

.scrolled_list {
    margin-top: 1.5%;
    margin-right: 30%;
    z-index: 1000;
    margin-left: 50%;
}

.scrolled_li {
    color:darkslateblue;
    font-size: 13px;
}

a.logo {
    text-decoration: none;
    font-family: dancing script, cursive;
    color:darkslateblue;
    margin-top: 1.5%;
    margin-left: 10%;
}
